#services {
  background: #F1F1F1;
  padding: 72px 20px;
}

.services-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.service-list {
  display: flex;
  gap: 24px;
}

.service-heading {
  text-align: center;
}

.service-heading h2 {
  font-size: 38px;
  margin-bottom: 14px;
}

@media only screen and (max-width: 768px) {
  .service-list {
    display: flex;
    gap: 24px;
    flex-direction: column;
  }
}